<header>
  <nav class="navbar navbar-expand-sm navbar-toogleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" routeLink="/"><h3>Lastguy Shop</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" routerLinkActive="link-active">
            <a class="nav-link text-light" routerLink="/search">ค้นหาสินค้า</a>
          </li>
          <li class="nav-item" routerLinkActive="link-active">
            <a class="nav-link text-light" routerLink="/stock">สต๊อกสินค้า</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <form role="form" #searchForm="ngForm" (submit)="onSubmit(searchform)">
    <div class="form-group"></div>
    <!-- <label for="productName">ชื่อสินค้า : </label> -->
    <div class="row">
      <div class="col-10">
        <input id="searchInput" class="form-control"
        [(ngModel)]="ngModel.name"
        name="productName" type="text" placeholder="ชื่อสินค้า">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button type="submit">GO!</button>
      </div>
    </div>
  </form>
</div>

<!-- <ul>
  <li>
    <a routerLink="/search" href="#">ค้นหา</a>
  </li>
  <li>
    <a routerLink="/stock" href="#">สต๊อก</a>
  </li>
</ul> -->
<router-outlet></router-outlet>
<!-- <div style="text-align: center; margin: 20px;">
  <h1>
    {{ showShopName() }}
  </h1>
</div>
<div class="row" style="text-align: center;">
  <div role="toolbar">
    <div class="btn-group mr-3" role="group" aria-label="Group 1">
      <a routerLink="/search"><div class="col"><button type="button" class="btn btn-orange">ค้นหาสินค้า</button></div></a>
      <a routerLink="/stock"><div class="col"><button type="button" class="btn btn-orange">สต๊อกสินค้า</button></div></a>
    </div>
  </div>
</div>


<div class="col"><button type="button" class="btn btn-orange" (click)="SearchProduct()">ค้นหา {{parentCount}}</button></div>
<div class="row">
  <app-search></app-search>
</div> -->
















<!-- <button class="btn btn-primary" (click)="addCount()"> เติมสต๊อก</button>
<br />
<br />
<input #productDetail type="text">
<br />
<button class="btn btn-primary" (click)="getProductDetail(productDetail.value)"> ดูข้อมูล</button>
<br />
<ul>
  <li *ngFor="let productItem of products">{{productItem}}</li>
</ul> -->

<!-- <app-product></app-product> -->



