<div style="text-align: center; margin: 20px;">
    <h1>ค้นหาสินค้า</h1>
</div>
<div>
    <form>
        <div class="row">
            <div class="col-10">
                <input type="text" name="searchInput" placeholder="ชื่อสินค้า">
            </div>
        </div>
        <div class="row">
            <div class="col2">
                <button type="submit">ค้นหา!</button>
            </div>
        </div>
    </form>
</div>



















<!-- <p [ngClass]="{test-style:true}">test ng style</p> -->
<!-- <input #searchInput type="text">
<br />
<button class="btn btn-primary" (click)="searchProduct(1)"> ค้นหา</button> -->
<!-- <p>{{count}}</p> -->


